---
layout: default
title: Articles Récents
description: JulienCharette.com - Trucs et astuces sur le développement web
---

<div class="home" id="home">
  <h1 class="pageTitle">Articles Récents</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">
          {% assign d = post.date | date: "%-d" %}
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}{% if d == '1' %}<sup>er</sup>{% endif %}
          {% case m %}
            {% when '1' %}Janvier
            {% when '2' %}Février
            {% when '3' %}Mars
            {% when '4' %}Avril
            {% when '5' %}Mai
            {% when '6' %}Juin
            {% when '7' %}Juillet
            {% when '8' %}Août
            {% when '9' %}Septembre
            {% when '10' %}Octobre
            {% when '11' %}Novembre
            {% when '12' %}Décembre
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Articles suivants</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Articles précédents</a>
    {% endif %}
  </div>
</div>
